<div class="row hero-section">
  <div class="hero-section-text">
    <h1>Blocstone API</h1>
    <p>Easily collect competitive intelligence from your favorite sales tools</p>
  </div>
</div>

<div class="section welcome-section">
  <div class="row small-up-3 medium-up-3 large-up-3">
    <div class="column column-block">
      <img src="//placehold.it/600x600" class="thumbnail" alt="">
    </div>
    <div class="column column-block">
      <img src="//placehold.it/600x600" class="thumbnail" alt="">
    </div>
    <div class="column column-block">
      <img src="//placehold.it/600x600" class="thumbnail" alt="">
    </div>
  </div>
</div>
